appdirs==1.4.4
astroid==2.4.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.9.2
decorator==4.4.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.5
importlib-metadata==1.6.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
printjson==1.0.1
pycparser==2.20
pylint==2.5.2
pymongo==3.10.1
requests==2.23.0
requests2==2.16.0
six==1.12.0
toml==0.10.1
tornado==6.0.4
typed-ast==1.4.1
urllib3==1.21.1
virtualenv==20.0.21
Werkzeug==0.16.0
wrapt==1.12.1
zipp==3.1.0
